{
  "printWidth": 180,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "trailingComma": "es5",
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "preserve",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "tsdoc": true

}
 