@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-slate-900: #0F172A;
  --color-slate-800: #1E293B;
  --color-slate-700: #334155;
  --color-slate-500: #64748B;
  --color-slate-400: #94A3B8;
  --color-slate-300: #CBD5E1;
  --color-slate-100: #F1F5F9;
  --color-slate-50: #F8FAFC;
  --color-indigo-500: #6366F1;
  --color-indigo-400: #818CF8;
  --color-indigo-300: #A5B4FC;
  --color-cyan-400: #22D3EE;
  --color-cyan-300: #67E8F9;
  --color-emerald-400: #34D399;
  --color-amber-400: #FBBF24;
  --color-rose-400: #FB7185;
}
